.main-account-form__container {
    width: 100vw;
    height: 90vh;
    background: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    position: relative;
    @include flex-center;

    &::after {
        position: absolute;
        content: "";
        height: 90vh;
        width: 100vw;
        background-color: $dark;
        opacity: 0.65;
    }
}

.account-form-container {
    position: relative;
    z-index: 1;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    @include blur;
    border-radius: $radius;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: $box-shadow;
    padding: 3em;
    width: 75vw;
    max-width: 25rem;

}

.account-form-header {
    // text-transaccount-form: uppercase;
    color: $light;

}

.account-form {
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

}

.account-form-control {
    width: 100%;
    input {

        &[type='text'],
        &[type='password'],
        &[type='email'] {
            border: none;
            outline: none;
            background-color: $light;
            border-radius: $radius;
            padding: 1em;
            color: $dark;
            margin: 1em 0;
            width: 100%;
            font-size: 1em;


        }
    }
}

.account-form-fields {
    width: 100%;
}

.account-form-btn {
    @extend .btn-light;
    font-size: 1em;
    padding: 1em;
    width: 100%;
}


@media  screen and (max-height: 700px) {
    .main-account-form__container {
        height: 80vh;
        &::after {
            height: 80vh;

        }
    }
}