/* Main articles section */

.main-articles {
    background-color: $light;
    height: auto;
    display: flex;
    justify-content: center;

}


.latest-articles {
    position: relative;
    width: 100%;
    top: -5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.article__card {
    height: 20rem;
    width: 20rem;
    background-color: $light;
    border-radius: $radius;
    box-shadow: $box-shadow;
    
    &:nth-child(2) {
        margin: 0 min(1rem, 5000px); 
    }

}

@media  screen and (max-width: 1100px) {
    .main-articles {
        display: block;
    }
    .latest-articles {
        width: auto;
        top: 0;
        grid-template-columns: 1fr;
        margin: 0 2rem;
    }

    .article__card {
        box-sizing: border-box;
        width: 100%;
        margin:  4rem;
    }
}