/* Homepage Hero */

.homepage-hero {
    height: 65vh;
    background: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 65vh;
        width: 100vw;
        background-color: $dark;
        opacity: 0.65;
    }
}

.hero-description {
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    color: $light;
    z-index: 100;
}

.inner-hero-description {
    width: min(75%, 500px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(50px); */
    border-radius: 10px;
}