@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$light: #f2efef;
$dark: #252c44;
$primary: #8291b7;
$highlight: #6eaccc;
$highlightDark: #8291b7;
$grey: #d1d1d1;

$radius: 15px;
$box-shadow: 1px 3px 10px rgba($color: #000000, $alpha: 0.2);

$breakpoint-medium-width: 800px; 